<main class="main">
  <div class="content">
    @defer {
    <app-campaign-list
      [campaigns]="campaigns"
      (deleteCampaignEmitter)="handleDeleteCampaign($event)"
      (editCampaignEmitter)="openEditModal($event)"
    />
    <button (click)="isModalOpen = true">Add Campaign</button>

    <app-modal
      *ngIf="isModalOpen"
      [title]="getModalTitle()"
      (closeModal)="isModalOpen = false; currentCampaign = {}"
    >
      <app-campaign-form
        (formSubmitted)="isModalOpen = false; handleAddOrEditCampaign($event)"
        [editedCampaign]="currentCampaign"
      />
    </app-modal>
    } @placeholder {
    <p>Future campaigns...</p>
    } @loading (minimum 0s) {
    <p>Loading campaigns...</p>
    }
  </div>
</main>

<router-outlet />
