form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--text-dark);
  font-size: 0.875rem;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border-light);
  border-radius: var(--border-radius);
  font-size: 0.875rem;
  transition: var(--transition);
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: var(--primary-light);
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.1);
}

input[type="checkbox"] {
  width: 1rem;
  height: 1rem;
  accent-color: var(--primary);
}

.status-row {
  display: flex;
  flex-direction: row;
  gap: 3px;
  align-items: center;
  justify-content: flex-start;
}

.submit-btn {
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  padding: 0.875rem;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  width: calc(100% - 2rem);
  margin: 1rem auto;
  display: block;
}

.submit-btn:hover {
  background-color: var(--secondary-dark);
}

.submit-btn:disabled {
  background-color: var(--text-medium);
  opacity: 40%;
}
